
<div class="gallery">
  <a class="no-barba" href="/images/2018/01/01/unsplash-garrett-parker-247225-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-garrett-parker-247225-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-jason-wong-292853-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-jason-wong-292853-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-jonatan-pie-234237-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-jonatan-pie-234237-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-brandon-lam-29892-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-brandon-lam-29892-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-jason-wong-292853-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-jason-wong-292853-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-jonatan-pie-234237-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-jonatan-pie-234237-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-brandon-lam-29892-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-brandon-lam-29892-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
  <a class="no-barba" href="/images/2018/01/01/unsplash-garrett-parker-247225-1920x.jpg">
    <div class="gallery-image-container">
      <div class="gallery-image" data-responsive-background-image>
        {{ partial "image-srcset" (dict "path" "/images/2018/01/01/unsplash-garrett-parker-247225-320x.jpg" "sizes" "25vw, (max-width: 768px) 100vw") }}
      </div>
    </div>
  </a>
</div>