:root {
  --background: #fff;
  --text: #151515;
  --textmuted: #555;
  --link: #555;
  --linkhover: #ba1d6b;
  --selection_bg: #b3d4fc;
  --hrulecolor: #ddd;

  --white: #fefefe;

  --menubackground: #fefefe;
  --menulink: #666;
  --menulinkhover: #ba1d6b;
  --menulinkmobile: #666;
  --menulinkhovermobile: #ba1d6b;
}
