/* Processed by postcss-normalize based on .browserslistrc
   Merged into main.pcss by postcss-import */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button {
  overflow: visible;
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
input {
  overflow: visible;
}
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
select {
  text-transform: none;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.ensemble-card {
  -webkit-box-shadow: rgba(0, 0, 0, .1) 0px 0px 4px;
          box-shadow: rgba(0, 0, 0, .1) 0px 0px 4px;

  div h3 {
    font-family: 'Open Sans', sans-serif;
  }
}
.ensemble-card-image {
  position: relative;
}
.ensemble-card-overlay {
  position: absolute;
  min-height: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.ensemble-card:hover .ensemble-card-overlay {
  background-color: #ba1d60;
  opacity: 0.5;
}
/* Responsive grid */
.ensemble-list {
  margin-bottom: -20px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-column-gap: 2%;
  grid-row-gap: 25px;
}
.ensemble-card-image {
  height: 150px;
}
/*
Bootstrap media query sizes:
small = (min-width:768px)
medium = (min-width:992px)
large = (min-width:1200px)
*/
@media only screen and (min-width: 768px) {
  .ensemble-list {
    grid-template-columns: 48% 48%;
    grid-column-gap: 2%;
  }
  .ensemble-card-image {
    height: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .ensemble-list {
    grid-template-columns: 31% 31% 31%;
    grid-column-gap: 2%;
  }
  .ensemble-card-image {
    height: 230px;
  }
}
@media only screen and (min-width: 1200px) {
  .ensemble-list {
    grid-template-columns: 23% 23% 23% 23%;
    grid-column-gap: 2%;
  }
  .ensemble-card-image {
    height: 260px;
  }
}

/*# sourceMappingURL=ensemble-list.css.map */
