<!doctype html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
  {{ partial "head-meta.html" . }}

  <!-- Inlined stylesheet for preloader -->
  <style type="text/css" media="all">
    /* $inline.line("../styles/preloader.css|cssmin"); */
  </style>

  <!-- Inlined stylesheet for inlined-images -->
  <style type="text/css" media="all">
    /* $inline.line("../styles/inline-images.css|cssmin"); */
  </style>  
</head>
<body>
  <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

<div class="preloader">
  <div class="loader-anim">
    <span class="loader-image-anim">&nbsp;</span>
    <span class="loader-image-anim">&nbsp;</span>
    <span class="loader-image-anim">&nbsp;</span>
    <span class="loader-image-anim">&nbsp;</span>
    <span class="loader-image-anim">&nbsp;</span>
  </div>
</div>

<div id="barba-wrapper">
<div class="barba-container">

{{ partial "header.html" . }}

<article>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
        {{ .Content }}
      </div>
    </div>
  </div>
  {{ partial "ensemble-list.html" . }}
</article>

{{ partial "footer.html" . }}

</div>
</div>

{{ partial "footer-scripts.html" . }}

<!-- Inlined javascript for preloader -->
<script type="text/javascript">
  /* $inline.line("../scripts/preloader/preloader.js"); */
</script>

</body>
</html>
